* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Red Hat Display", sans-serif;
  background-image: url(images/pattern-background-desktop.svg);
  background-position: top;
  background-repeat: no-repeat;
  min-height: 95vh;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
}
.box {
  justify-content: center;
  width: 340px;
  margin-top: 64px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 32px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
.img-box {
  width: 400px;
  display: flex;
  justify-content: center;
}
.hero-img {
  width: 130%;
  align-self: center;
}
.text-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.dis-text {
  font-size: 16px;
  color: hsl(224, 23%, 55%);
}
.add-cart-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(225, 100%, 98%);
  padding: 12px 24px;
  border-radius: 12px;
}
.s-a-1 {
  gap: 12px;
  display: flex;
  align-items: center;
}
span {
  font-size: 16px;
  font-weight: 500;
  display: block;
}
.btn-end {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 24px;
}
.btn,
.btn-w,
.btn-change {
  transition: all 0.3s;
}
.btn {
  transition: all 0.3s;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  padding: 12px 24px;
}
.btn:is(:link, :visited) {
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
  text-decoration: none;
}
.btn:is(:hover, :active) {
  color: hsl(225, 100%, 98%);
  text-decoration: none;
  background-color: hsl(245, 83%, 60%);
}

.btn-w:is(:link, :visited) {
  color: hsl(224, 23%, 55%);
  text-decoration: none;
}
.btn-w:is(:hover, :active) {
  color: hsl(245, 75%, 52%);
}
.btn-change:is(:link, :visited) {
  color: hsl(245, 75%, 52%);
  font-size: 14px;
  font-weight: 500;
}
.btn-change:is(:hover, :active) {
  text-decoration: none;
}
