* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(images/pattern-background-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.box {
  margin: 64px 256px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: red;
}
.hero-img {
  width: 50%;
}
